[providers]
AWS_ACCESS_KEY_ID = AKIASGVUEPVHP3YNJ666
AWS_SECRET_ACCESS_KEY = 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
AWS_REGION = us-east-2
AWS_CLOUDWATCH_LOG_GROUP_NAME = /glogger/log/group
AWS_CLOUDWATCH_LOG_STREAM_NAME = test
AWS_BUCKET_NAME =
AWS_OBJECT_KEY =

AZURE_STORAGE_CONNECTION_STRING =
AZURE_CONTAINER_NAME =
AZURE_BLOB_NAME =
AZURE_APP_INSIGHTS_INSTRUMENTATION_KEY =

GPC_APPLICATION_CREDENTIALS =
GCP_LOG_NAME =
GCP_PROJECT_ID =
GCP_BUCKET_NAME =
GCP_OBJECT_KEY =

MONGO_URI =

WEBSOCKET_URI =

LOCAL_FILE_PATH =
PAPERTRAIL_HOST =
PAPERTRAIL_PORT =