boto3==1.18.2
asyncio==3.4.3
configparser==5.0.2
google-cloud==0.34.0
websockets==11.0.3
google-cloud-logging==3.7.0
google-cloud-storage==2.11.0
azure-storage-blob==12.18.2
appinsights==0.13.0
colorama==0.4.6